body{  
background-image: url(cons.jpg);
 background-repeat: no-repeat;
  background-size: 150%;
  background-position: center-center;
  font-family: 'Lato', Cursive;
  color: #FFF8DC;
  font-size:20px;
  text-align:center;
}

#characteristic {
       
   margin: auto;
    width: 60%;
color:yellow;
    padding: 21px;
}

 #animated{
  animation-name: move;
  animation-duration: 5s;
  nimation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 cursor: url("http://downloads.totallyfreecursors.com/cursor_files/gold_star.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/gold_star.gif"), auto;
}


#space{
  font-size:30px;
 
}

a.button {
  background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
	border-radius: 7px;
  margin-bottom:70px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: yellow;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 6px 22px;
  text-decoration: table-footer-group;
  -webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
  hover {
	box-shadow: 0px 4px 4px rgba(33,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
   
  }